<ifModule mod_rewrite.c>
# Activar rewrite
RewriteEngine on
ErrorDocument 404 https://localhost/proyecto-2-poo/error/

RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f

RewriteRule ^(.*)/(.*) index.php?controller=$1&action=$2

</ifModule>